<aside id="sidebar">
  <div class="d-flex">
    <button class="toggle-btn" type="button" (click)="onHumburger()">
      <i class="bi bi-grid"></i>
    </button>
    <div class="sidebar-logo">
      <a href="/">Technical</a>
    </div>
  </div>
  <ul class="sidebar-nav">
    <li class="sidebar-item" [hidden]="this.role">
      <a
        class="sidebar-link"
        [routerLink]="['role/roles-list']"
        routerLinkActive="router-link-active"
      >
        <i class="bi bi-person"></i>
        <span>Rol</span>
      </a>
    </li>
    <li class="sidebar-item" [hidden]="this.user">
      <a href="#" class="sidebar-link">
        <i class="bi bi-journal-text"></i>
        <span>Usuario</span>
      </a>
    </li>
    <li class="sidebar-item" [hidden]="this.person">
      <a href="#" class="sidebar-link">
        <i class="bi bi-person"></i>
        <span>Persona</span>
      </a>
    </li>
    <li class="sidebar-item" [hidden]="this.client">
      <a href="#" class="sidebar-link">
        <i class="bi bi-journal-text"></i>
        <span>Cliente</span>
      </a>
    </li>
    <li class="sidebar-item" [hidden]="this.gender">
      <a href="#" class="sidebar-link">
        <i class="bi bi-journal-text"></i>
        <span>Genero</span>
      </a>
    </li>
    <li class="sidebar-item" [hidden]="this.profile">
      <a href="#" class="sidebar-link">
        <i class="bi bi-journal-text"></i>
        <span>Perfile</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <a href="#" class="sidebar-link">
      <i class="bi bi-box-arrow-left"></i>
      <span>Logout</span>
    </a>
  </div>
</aside>
