<!--<div class="container-fluid p-0 m-0 position-fixed">
   Content here
  <img
    src="../../../../assets/images/Soporte.jpg"
    class="img-fluid"
    alt="Servicio técnico"
  />
  <h1 class="position-sticky">SISTEMA DE SERVICIO TECNICO</h1>
  <button class="btn btn-outline-primary" (click)="iniciarSesion()">
    Iniciar sesión
  </button>
</div>
-->

<div class="container-fluid p-0 m-0">
  <div class="card text-bg-dark border-0">
    <img
      src="../../../../assets/images/Soporte.jpg"
      class="card-img"
      alt="Servicio Técnico"
    />
    <div
      class="card-img-overlay d-flex flex-column justify-content-center align-items-center"
    >
      <h1 class="card-title">SERVICIO TÉCNICO</h1>
      <br />
      <button class="btn btn-primary" (click)="iniciarSesion()">
        Iniciar sesión
      </button>
    </div>
  </div>
</div>
